.content {

    max-width: 1240px;
    width: 100%;
    margin: 30px auto 0;

}

.filters {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 30px;

}

.filters > div {

    cursor: pointer;
    padding: 10px 15px;
    border: 1px solid #3B3B3B;
    background: #FFFFFF;
    color: #3B3B3B;
    transition: .3s all ease;

}

.filters > div.selected {

    background: #3B3B3B;
    color: #FFFFFF;

}

.projects {

    column-count: 3;
    column-gap: 20px;

}

.projects > div {

    margin-bottom: 20px;
    display: none;

}

.projects > div.active {

    display: block;

}

.projects > div img {

    width: 100%;

}